[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[requires]
python_version = "3.7"

[packages]
requests-oauthlib = "*"
click = "*"
colorama = "*"
pip = "==9.0.1"

[dev-packages]
